@use "@/index.module.scss";

.TopMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  max-height: 50px;
  @extend .p-2;

  @extend .ms-2;
  @extend .mb-2;
  .BackLink {
    @extend .btn;
    @extend .me-2;
    text-decoration: none;

    &:not(.Active) {
      @extend .btn-secondary;
    }

    &.Active {
      @extend .btn-primary;
    }
  }
}
