@use "@/index.module.scss";

.Search {
  width: 100%;

  .HomeTagList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .IngredientsTab {
    position: relative;
    z-index: 9999;
    background: transparent;
    @extend .mb-3;

    .InputGroup {
      @extend .input-group;
    }

    .FormControl {
      @extend .form-control;
    }

    .TagRow {
      @extend .py-2;
      @extend .d-flex;
      @extend .align-items-center;
      // background-color: #4545453f;

      .HomeTag {
        @extend .badge;
        @extend .bg-secondary;
        @extend .text-light;
        @extend .d-flex;
        @extend .align-items-center;
        @extend .btn-sm;
        @extend .rounded;
        font-size: 1rem;
        padding: 0.5em 0.75em;
        border-radius: 20px;
        &:first-child {
          margin-left: 0;
        }

        .HomeTagClose {
          @extend .btn-close;
          @extend .btn-close-white;
          @extend .ms-2;
          font-size: 0.8rem;
          margin-left: 0.5em;
        }

        &.SearchButton {
          @extend .btn;
          @extend .btn-secondary;
          @extend .ms-3;
          height: 2.5rem;
          // border-radius: 20px;
          font-weight: 600;
        }
      }
    }
  }

  /* Active / inactive state helpers map to bootstrap button variants */
  .Active {
    @extend .btn-primary;
  }

  .Inactive {
    @extend .btn-outline-primary;
    background-color: white; // Ensure buttons are white when inactive
  }
}
