@import "@/index.module.scss";

.AllRecipes {
  @extend .container-fluid;
  padding: 0px;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  align-items: flex-start;

  .NoRecipes,
  .RecipeList {
    @extend .px-3;
    @extend .py-3;
    background-color: #efefef;
    overflow-y: auto;
  }
  .RecipeList {
    height: calc(100vh - 120px);
    overflow-y: auto;
  }
}
